*{
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
}

.factsMain {
    max-width: 1640px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
}
.factsMainHeading{
    text-align: center;
    padding: 100px 0;
    font-size: 45px;
    color: #333;
}
.factDesription{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer
}
.factDesription:hover,
.factDesriptionImg:hover{
    background-color: #000;
    color: #fff;
} 
.factDesription p{
padding: 3px 0 0  20px;
}
.fact-plus{
    padding: 4px 20px 0 0 ;
}
.factDesriptionImg{
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.factDesriptionImg img{
    width: 54.63px;
    padding: 13px 0;
}

.fact-click{
    width: 450px;
    display: none;
    padding: 20px 15px;
    margin: 0 auto;
}
.fact-card{
    max-width: 450px;
    width: 100%;
    height: 400px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    background-color: #ddd;
    box-shadow: 0 6px 10px rgba(0, 0, 0,0.3);
    transition: all 0.3s ease;
}
.fact-card img{
    border-radius: 15px 15px 0 0;
    max-width: 450px;
    height: 300px;
}
.fact-card:hover{
    transform: scale(1.1);
    background-color: #000;
}
.fact-card a{
    text-align: center;
    padding: 40px 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.fact-card:hover a{
    color: #fff;
}
hr{
    border: 1px solid rgba(0, 225, 255, 0.671);
}

.fact-click.loading {
    display: flex;
    text-align: center;
    height: 40px;
    font-size: 20px;
    color: #999;
}

.fact-click.error {
    display: flex;
    text-align: center;

    font-size: 20px;
    color: #FF0000; 
}

@media screen  and (max-width: 500px) {
    .factsMainHeading{
        padding: 50px 0;
        font-size: 36px
    }
    .fact-click{
        width: 350px;
    }
    .fact-card{
        height: 300px;
    }
    .fact-card a{
        padding: 10px 3px;
    }
    .fact-card img{
        height: 200px;
    }
    .factDesription h3{
        padding: 3px 5px;
        font-size: 16px;
        text-align: center;
    }
}
@media screen  and (max-width: 400px){
    .fact-click{
        width: 250px;
    }
}
@media screen  and (max-width: 300px){
    .fact-click{
        width: 180px;
        padding: 20px 10px 20px 5px;
    }
    .factDesription h3{
        padding: 0 5px;
    }
}
@media screen  and (max-width: 250px){
    .fact-click{
        width: 140px;
    }
}